body{margin: 0;}
/* apply fonts to h1 */
h1, h2, h3, h4, h5, h6{
    font-family: "Abril Fatface", serif;
}
.chorus{
    font-family: "Bebas Neue", sans-serif;
}
.singing{
    font-family: "Imperial Script", cursive;
}
.verses{
    font-family: "Comic Relief", system-ui;
}
header{
    height: 100px;
    display: flex;
    background-color: #FFF129;
    align-items: center;
    justify-content: space-between;
}
header a img{
    display: block;
    height: 100px;
}
header h1{
    font-size: 2.25rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav menu{
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: flex-end;
    padding: 0;
}
nav a{
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.25rem;
    color: black;
}
